<section class="container pt-5">

    <div class="bg-white p-5 rounded shadow">
        <div>
            <H1>Cadastro de Cliente</H1>
            <br>
            <div style="font-size: 30px">
                <label><input type="radio" title="Fisica" name="TipoPessoa"
                        (click)="RadioFisicaOuJuridica(fisica, 'fisica')" #fisica /> Fisica</label>
                <br>
                <label><input type="radio" title="Juridica" name="TipoPessoa"
                        (click)="RadioFisicaOuJuridica(juridica, 'juridica')" #juridica /> Juridica </label>
            </div>
        </div>
        <form #Form1="ngForm" (ngSubmit)="onSubmitPessoaFisica(Form1)" id="pessoaFisica">
            <hr>
            <section style="max-width: 1000px">
                <h2>Pessoa Fisica</h2>

                <div class="row tab-content bg-white text-center d-flex justify-content-center needs-validation" novalidate id="myTabContent1">
                    <div class=" form-group col-md-6 tab-pane fade show active border p-5 rounded" id="dadosPessoais" role="tab">
                        <h2>Dados pessoais</h2>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="nome" [(ngModel)]="novoPessoaFisica.nome" placeholder="Nome" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="sobrenome" [(ngModel)]="novoPessoaFisica.sobrenome" placeholder="Sobrenome" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="cpf" [(ngModel)]="novoPessoaFisica.cpf" id="cpf" placeholder="CPF" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="telefone" [(ngModel)]="novoPessoaFisica.telefone" id="telefone" placeholder="Telefone Fixo" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="celular" [(ngModel)]="novoPessoaFisica.celular" id="celular" placeholder="Celular" required>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <a href="#">Termos de aceitação</a>
                        <br>
                        <input type="checkbox" class="form-check-input" id="termosAceitacao" required>
                        <label class="form-check-label" for="termosAceitacao">Concordo com os termos</label>
                        <br>
                        <button type="submit" [disabled]="!Form1.valid" class="btn btn-success mt-2">Cadastrar</button>
                    </div>

                </div>

            </section>

        </form>
        <form #Form2="ngForm" (ngSubmit)="onSubmitPessoaJuridica(Form2)" id="pessoaJuridica">
            <hr>
            <section style="max-width: 1000px">
                <h2>Pessoa Juridica</h2>

                <div class="row tab-content bg-white text-center d-flex justify-content-center" id="myTabContent">
                    <div class=" form-group col-md-6 tab-pane fade show active border p-5 rounded" id="dadosPessoais2" role="tab">
                        <h2>Dados da Empresa</h2>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="nome_empresa" [(ngModel)]="novoPessoaJuridica.nome" placeholder="Nome" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="responsavel" [(ngModel)]="novoPessoaJuridica.responsavel" placeholder="Responsavel" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="cnpj" data-inputmask="'mask': '00.000.000/0000-00'" placeholder="00.000.000/0000-000" [(ngModel)]="novoPessoaJuridica.cnpj" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="tel" class="form-control" maxlength="14" data-inputmask="'mask': '(000)0000-0000'" name="telefone_fixo" [(ngModel)]="novoPessoaJuridica.telefone" placeholder="Telefone Fixo" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" maxlength="15" data-inputmask="'mask': '(000)00000-0000'" name=" celular " [(ngModel)]="novoPessoaJuridica.celular " placeholder="Celular " required>
                        </div>
                    </div>


                    <div class="form-group col-md-12 ">
                        <a href="# ">Termos de aceitação</a>
                        <br>
                        <input type="checkbox" class="form-check-input " id="termosAceitacao " required>
                        <label class="form-check-label " for="termosAceitacao ">Concordo com os termos</label>
                        <br>
                        <button type="submit" [disabled]="!Form2.valid " class="btn btn-success mt-2 ">Cadastrar</button>
                    </div>
                </div>
            </section>
        </form>
    </div>

</section>