<section class="container pt-5">

    <div class="bg-white p-5 rounded shadow">
        <div>
            <H1>Cadastro de Cliente</H1>
            <br>
        </div>
        <form #Form="ngForm" (ngSubmit)="onSubmitPessoa(Form)" id="pessoaFisica">
            <hr>
            <section style="max-width: 1000px">
                <div class="row tab-content bg-white text-center d-flex justify-content-center needs-validation" novalidate id="myTabContent1">
                    <div class=" form-group col-md-6 tab-pane fade show active border p-5 rounded" id="dadosPessoais" role="tab">
                        <h2>Dados pessoais</h2>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="nome" [(ngModel)]="novoPessoa.nome" placeholder="Nome" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="sobrenome" [(ngModel)]="novoPessoa.sobrenome" placeholder="Sobrenome" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="cpf" [(ngModel)]="novoPessoa.cpf" id="cpf" placeholder="CPF" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="telefone" [(ngModel)]="novoPessoa.telefone" id="telefone" placeholder="Telefone Fixo" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="celular" [(ngModel)]="novoPessoa.celular" id="celular" placeholder="Celular" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="nome_empresa" [(ngModel)]="novoPessoa.nome_empresa" placeholder="Empresa" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="responsavel" [(ngModel)]="novoPessoa.responsavel" placeholder="Responsavel" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="cnpj" [(ngModel)]="novoPessoa.cnpj" placeholder="CNPJ" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="pais" [(ngModel)]="novoPessoa.pais" placeholder="Pais" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="estado" [(ngModel)]="novoPessoa.estado" placeholder="Estado" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="cidade" [(ngModel)]="novoPessoa.cidade" placeholder="Cidade" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="bairro" [(ngModel)]="novoPessoa.bairro" placeholder="Bairro" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="rua" [(ngModel)]="novoPessoa.rua" placeholder="rua" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="cep" [(ngModel)]="novoPessoa.cep" placeholder="CEP" required>
                        </div>
                        <div class="form-group col-md-12">
                            <a href="#">Termos de aceitação</a>
                            <br>
                            <input type="checkbox" class="form-check-input" id="termosAcaitacao" required>
                            <label class="form-check-label" for="termosAcaitacao">Concordo com os termos</label>
                            <br>

                        </div>
                        <button type="submit" [disabled]="!Form.valid" class="btn btn-success mt-2">Cadastrar</button>
                    </div>
                </div>
            </section>
        </form>
    </div>
</section>