<div id="carrinho">
    <div style="background-color: white; margin-bottom: 100px; border-radius: 20px;">
        <div id="carrinhoTitulo">
            <div class="row">
                <div class="col-md-2">
                    <h3>Produto</h3>
                </div>
                <div class="col-md-3">
                    <h3>Valor unitário</h3>
                </div>
                <div class="col-md-2">
                    <h3>Quantidade</h3>
                </div>
                <div class="col-md-3">
                    <h3>SubTotal</h3>
                </div>
                <div class="col-md-2">
                    <h3>Excluir</h3>
                </div>
            </div>
        </div>
        <div class="carrinho-valor-total">
            <p>Total dos Produtos: R$</p>
            <p>Frete: R$</p>
            <br>
            <p>Total: R$</p>
            <button type="button" class="btn-success" onclick="window.open('tela_forma_pagamento.html')">Confirmar
                Compra!</button>
        </div>
    </div>
</div>