<body>
    <div class="container p-5">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Cadastrar-se</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <a href="https://pt-br.facebook.com/">
                            <span><i class="fab fa-facebook-square text-muted"></i></span>
                        </a>
                        <a href="https://www.google.com.br/">
                            <span><i class="fab fa-google-plus-square text-muted"></i></span>
                        </a>
                        <a href="https://twitter.com/login?lang=pt">
                            <span><i class="fab fa-twitter-square text-muted"></i></span>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <form #f="ngForm">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Login" [(ngModel)]="novoUsuario.login"
                                #nome="ngModel" name="login" required>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email" [(ngModel)]="novoUsuario.email"
                                #nome="ngModel" name="email" required>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Senha"
                                [(ngModel)]="novoUsuario.senha" #nome="ngModel" name="senha" required>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Confirmar Senha"
                                [(ngModel)]="novoUsuario.confirmarSenha" #nome="ngModel" name="confirmarSenha" required>
                        </div>

                        <span *ngIf="novoUsuario.senha != novoUsuario.confirmarSenha" id="erro" class="error"> Campos
                            devem ser iguais!!! </span>
                        <div class="form-group form-check">
                            <input type="submit" id="cadastrar" [disabled]="!f.valid"
                                *ngIf="novoUsuario.senha == novoUsuario.confirmarSenha" [routerLink]="['/']"
                                value="Cadastrar" class="btn btn-success login_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>