<section class="container pt-5">
    <aside class="bg-white p-4">
        <h1>Anunciar</h1>
        <p>Anuncie seu produto aqui.</p>
        <form #Form="ngForm" (ngSubmit)="onSubmitProduto(Form)" id="anuncio">
            <aside class="mt-3 row" id="anuncio">
                <div class="col-md-6 p-4">
                    <!--NOME-->
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" name="nome" id="nome" #nome="ngModel" [(ngModel)]="novoProduto.nome"
                            placeholder="Nome do produto anunciado" required>
                    </div>

                    <!--PRECO-->
                    <div class="form-group">
                        <label for="preco">Preço</label>
                        <input class="form-control" name="preco_unit" id="preco_unit" #nome="ngModel"
                            [(ngModel)]="novoProduto.preco_unit" placeholder="Preço" required>
                    </div>

                    <!--CATEGORIA-->
                    <div class="form-group">
                        <label for="categoria">Categoria</label>
                        <select class="form-control" name="categoria" id="categoria" #nome="ngModel"
                            [(ngModel)]="novoProduto.categoria">
                            <option>Selecione a categoria</option>
                            <option>Teclados</option>
                            <option>Mouse</option>
                            <option>Computador</option>
                            <option>Perifericos</option>
                            <option>Hardware</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6 p-4">
                    <!--QUANTIDADE-->
                    <div class="form-group">
                        <label for="quantidade">Quantidade</label>
                        <input class="form-control" name="quantidade" id="quantidade" #nome="ngModel"
                            [(ngModel)]="novoProduto.quantidade" placeholder="Quantidade" required>
                    </div>

                    <!--MOEDA-->
                    <div class="form-group">
                        <label for="moeda">Moeda</label>
                        <select class="form-control" class="form-control" name="moeda" id="moeda" #nome="ngModel"
                            [(ngModel)]="novoProduto.moeda" placeholder="moeda" required>
                            <option>Selecione a moeda</option>
                            <option>Real (BRL)</option>
                            <option>Dólar (USD)</option>
                            <option>Dólar Canadense (CAD)</option>
                            <option>Euro (EUR)</option>
                        </select>
                    </div>

                    <!--Origem-->
                    <div class="form-group">
                        <label for="origem">Origem</label>
                        <select class="form-control">
                            <option>Selecione a origem</option>
                            <option>EXE...</option>
                        </select>
                        <small id="origem" class="form-text text-muted">O endereço de origem do produto.</small>
                    </div>
                </div>

                <div class="col-md-12 mt-0">
                    <label>Descrição</label>
                    <textarea class="form-control" placeholder="Descrição detalhada do produto" name="descricao"
                        id="descricao" #nome="ngModel" [(ngModel)]="novoProduto.descricao"></textarea>
                </div>
                <div class="col-md-12 mt-4 mb-2">
                    <button type="submit" class="btn btn-success mr-2 float-right">Confirmar</button>
                    <button type="button" class="btn btn-secondary mr-2 float-right">Cancelar</button>
                </div>
            </aside>
        </form>
    </aside>
</section>