<section class="anuncio container">
    <form #f="ngForm" (ngSubmit)="onSubmitProduto(f)">
        <div class="form-group" id="dados_produto">
            <h5>Sobre o Produto</h5>
            <div class="coluna_A">
                <div class="content_form_l">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="nome" name="nome" #nome="ngModel" [(ngModel)]="novoProduto.nome" placeholder="nome" aria-label="name" aria-describedby="basic-addon1" required>
                    </div>
                </div>
                <div class="content_form_l">
                    <div class="input-group mb-3">
                        <input type="number" step="0.01" min="0" id="preco_unit" name="preco_unit" #nome="ngModel" [(ngModel)]="novoProduto.preco_unit" max="999999" class="form-control" placeholder="Preço unitário" aria-label="number" aria-describedby="basic-addon1" required>
                    </div>
                </div>
                <div class="content_form_l">
                    <div class="input-group mb-3">
                        <input type="number" min="0" max="100" name="quantidade" #nome="ngModel" [(ngModel)]="novoProduto.quantidade" class="form-control" id="quantidade" placeholder="Quantidade" required>
                    </div>
                </div>
            </div>
            <div class="coluna_B">
                <div class="content_form_l">
                    <div class="box_select">
                        <select name="tipo" #nome="ngModel" [(ngModel)]="novoProduto.categoria" class="custom-select" required>
                            <option value="">Tipo de produto</option>
                            <option value="1">Tipo 1</option>
                            <option value="2">Tipo 2</option>
                        </select>
                    </div>
                </div>
                <div class="content_form_l">
                    <div class="box_select">
                        <select name="moeda" #nome="ngModel" [(ngModel)]="novoProduto.moeda" class="custom-select" required>
                            <option value="">Moeda</option>
                            <option value="1">Real(R$)</option>
                            <option value="2">Dolar($)</option>
                            <option value="3">Euro(€)</option>
                        </select>
                    </div>
                </div>
                <div class="content_form_l">
                    <div class="box_select">
                        <select name="entrega" id="entrega" #nome="ngModel" [(ngModel)]="novoProduto.entrega" class="custom-select" required>
                            <option value="">Entrega</option>
                            <option value="1">Sedex</option>
                            <option value="2">Fedex</option>
                            <option value="3">Transportadora Propria</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="content_form_l" id="descricao">
                <div class="input-group-prepend">
                    <textarea name="descricao" #nome="ngModel" [(ngModel)]="novoProduto.descricao" rows="5" cols="50" class="form-control" aria-label="text" aria-describedby="basic-addon1" required></textarea>
                </div>
            </div>
        </div>
        <div class="form-group" id="endereco_produto">
            <h5>Endereço Do Produto</h5>
            <div class="end">
                <div class="content_form_l">
                    <div class="input-group mb-3">
                        <input type="text" #nome="ngModel" name="cidade" [(ngModel)]="novoProduto.cidade" class="form-control" placeholder="Cidade" aria-label="name" aria-describedby="basic-addon1" required>
                    </div>
                </div>
                <div class="content_form_l">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="estado" #nome="ngModel" [(ngModel)]="novoProduto.estado" placeholder="Estado" aria-label="name" aria-describedby="basic-addon1" required>
                    </div>
                </div>
                <div class="content_form_l">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="pais" id="pais" #nome="ngModel" [(ngModel)]="novoProduto.pais" placeholder="Pais" aria-label="name" aria-describedby="basic-addon1" required>
                    </div>
                </div>
                <div class="content_form_l">
                    <div class="input-group mb-3">
                        <input type="text" maxlength="11" name="cep" id="cep" #nome="ngModel" [(ngModel)]="novoProduto.cep" class="form-control" placeholder="Cep" aria-label="name" aria-describedby="basic-addon1" required>
                    </div>
                </div>
                <div id="imagens">
                    <div class="input_img">
                        <div class="col-sm-6 offset-sm-3">
                            <H5>INSERIR IMAGEM</H5>
                            <div class="form-group inputDnD">
                                <label class="sr-only" for="imagem_produto">File Upload</label>
                                <input type="file" name="imagem_produto" #nome="ngModel" [(ngModel)]="novoProduto.imagem_produto" class="form-control-file  text-danger font-weight-bold" id="inputFile" accept="image/*" onchange="readUrl(this)" data-title="Arraste e solte" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="confirmar">
                <div class="form-group form-check">
                    <a href=" #">Termos de anuncio</a>
                    <br>
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label form-group" for="exampleCheck1">Concordo com os termos</label>
                    <div>
                        <button type="submit" [disabled]="!f.valid">Cadastrar</button>
                    </div>

                </div>
            </div>
        </div>
    </form>

    <!---TESTE--->
    <div *ngFor="let produto of produtos;">
        <h1 class="text-black">{{produto.nome}}</h1>
        <h1 class="text-black">{{produto.preco_unit}}</h1>
        <h1 class="text-black">{{produto.quantidade}}</h1>
        <h1 class="text-black">{{produto.categoria}}</h1>
        <h1 class="text-black">{{produto.moeda}}</h1>
        <h1 class="text-black">{{produto.entrega}}</h1>
        <h1 class="text-black">{{produto.descricao}}</h1>
        <h1 class="text-black">{{produto.endereco}}</h1>
    </div>
</section>