<section class="container rounded bg-white">
    <!--Estolher a Forma de Pagamento-->
    <h2>Escolha a forma de pagamento</h2>
    <p>Clique na forma de pagamento que você deseja</p>
    <div class="row tipoPagamento">
        <img class="col-md-1 p-1 m-3 rounded bordaPagamento" src="assets/visa.png" #visa (click)="escolhaPagamento(visa)">
        <img class="col-md-1 p-1 m-3 rounded bordaPagamento" src="assets/mastercard.png" #mastercard (click)="escolhaPagamento(mastercard)">
        <img class="col-md-1 p-1 m-3 rounded bordaPagamento" src="assets/paypal.png" #paypal (click)="escolhaPagamento(paypal)">
        <img class="col-md-1 p-1 m-3 rounded bordaPagamento" src="assets/boleto.png" #boleto (click)="escolhaPagamento(boleto)">
    </div>
</section>
