<section class="container">
    <form #Form="ngForm" (ngSubmit)="onSubmitEndereco(Form)">
        <div class="col-md-6 p-5 " id="endereco">
            <h2>Endereço</h2>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="pais" [(ngModel)]="novoEndereco.pais" placeholder="Pais" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="estado" [(ngModel)]="novoEndereco.estado" placeholder="Estado" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="cidade" [(ngModel)]="novoEndereco.cidade" placeholder="Cidade" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="bairro" [(ngModel)]="novoEndereco.bairro" placeholder="Bairro" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="rua" [(ngModel)]="novoEndereco.rua" placeholder="Rua" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" data-inputmask="'mask': '99999-999'" id="cep" name="cep" [(ngModel)]="novoEndereco.cep" placeholder="CEP" required>
            </div>
            <button type="submit" [disabled]="!Form.valid" class="btn btn-success mt-2">Cadastrar</button>
        </div>
    </form>
</section>