/*#dc3545*/

/*#343a40*/

.animacaoHover {
    border-left: 15px #6c757d solid;
    transition: 300ms;
}

.animacaoHover:hover {
    border-left: 15px #343a40 solid;
    transition: 300ms;
}

.active {
    border-left: 15px #28a745 solid !important
}