.container {
    padding-top: 5%;
    width: 30%;
    height: max-content;
    align-content: center;
}

#endereco {
    width: 100%;
    background-color: white;
}

#endereco input {
    width: fit-content;
}

.col-md-6 {
    max-width: 100%;
}