<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/">
            <img src="assets/sloganCata.png" id="logo">
        </a>
        <a routerLink="/carrinho" class="carrinho-desktop">
            <i class="fas fa-shopping-cart mr-2 text-dark"></i>
        </a>

        <div class="collapse navbar-collapse campo-reverter" id="navbarTogglerDemo03">

            <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/cadastro">
                <button class="btn btn-outline-dark">Cadastar-se</button>
            </a>
            <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="ml-1 mr-1">
                <button class="btn btn-outline-dark">Logar</button>
            </a>
            <a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="ml-1 mr-1">
                <button class="btn btn-outline-dark">Sair</button>
            </a>
            <a *ngIf="loginService.isUserLoggedIn()" routerLink="/carrinho" class="carrinho-mobile mr-2">
                <i class="fas fa-shopping-cart ml-2 text-dark"></i>
            </a>

            <form class="form-inline my-2 my-md-0">
                <input class="form-control campo-pesquisa" type="text" placeholder="Pesquisa" aria-label="Search">
            </form>

            <ul class="navbar-nav mr-auto d-flex flex-row">
                <li class="nav-item active">
                    <a class="nav-link" id="navbar_atalhos" routerLink="/anuncio">Anuncie Aqui!</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="navbar_atalhos" routerLink="/perfil_pessoa">Meus dados</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="conteudo" class="pb-5">
    <router-outlet></router-outlet>
</div>

<footer class="footer" class="bg-dark pt-5 pb-5 text-center">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <h3>Institucional</h3>
                <a href="#">Quem somos</a>
            </div>
            <div class="col-md-3">
                <h3>Suporte</h3>
                <a href="#">Politica de privacidade</a><br>
                <a href="#">Contate-nos</a><br>
                <a href="#">Entrega</a><br>
            </div>
            <div class="col-md-3">
                <h3>Meus pedidos</h3>
                <a *ngIf="loginService.isUserLoggedIn()" href="#">Meus pedidos</a><br>
                <a href="#">Garantia</a><br>
                <a href="#">Contate-nos</a><br>
                <a *ngIf="loginService.isUserLoggedIn()" routerLink="/anuncio">Anuncie aqui!</a><br>
            </div>

            <div class="col-md-3">
                <img class="logo" src="assets/sloganCata.png">
                <div class="imgSocial d-flex justify-content-center">
                    <img src="/assets/facebook.png">
                    <img src="/assets/Instagram.png">
                    <img src="/assets/gmail.png">
                </div>
            </div>
        </div>

        <div class="imgPagamento">
            <h3 style="color: white">Forma de pagamento</h3>
            <img src="/assets/mastercard.png">
            <img src="/assets/boleto.png">
            <img src="/assets/paypal.png">
            <img src="/assets/visa.png">
        </div>
    </div>
</footer>