<div class="row bg-white p-5 rounded shadow">
    <div>
        <H1>Cadastro de Cliente</H1>
        <br>
        <div style="font-size: 30px">
            <label><input type="radio" title="Fisica" name="TipoPessoa"
                    (click)="RadioFisicaOuJuridica(fisica, 'fisica')" #fisica /> Fisica</label>
            <br>
            <label><input type="radio" title="Juridica" name="TipoPessoa"
                    (click)="RadioFisicaOuJuridica(juridica, 'juridica')" #juridica /> Juridica </label>
        </div>
    </div>

    <div id="pessoaFisica">
        <hr>
        <section style="width: 1000px">
            <h2>Pessoa Fisica</h2>
            <div class="input_img">
                <div class="col-sm-12 pt-2 pb-2 form-group inputDnD">
                    <label class="sr-only" for="inputFile"></label>
                    <input type="file" class="form-control-file text-danger font-weight-bold" id="inputFile"
                        accept="image/*" onchange="readUrl(this)" data-title="Arraste e solte">
                </div>
            </div>

            <nav>
                <div class="nav nav-pills mb-3 d-flex justify-content-center mt-5" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#dadosPessoais" role="tab">Dados
                        Pessoais</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#endereco" role="tab">Endereço</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#conta" role="tab">Conta</a>
                </div>
            </nav>

            <form class="row tab-content bg-white text-center d-flex justify-content-center needs-validation" novalidate
                id="myTabContent1">
                <div class="form-group col-md-6 tab-pane fade show active border p-5 rounded" id="dadosPessoais"
                    role="tab">
                    <h2>Dados pessoais</h2>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nome" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Sobrenome" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="cpf" placeholder="CPF" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="telefone" placeholder="Telefone Fixo" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="celular" placeholder="Celular" required>
                    </div>
                </div>

                <div class="form-group col-md-6 tab-pane fade border p-5 rounded" id="endereco" role="tab">
                    <h2>Endereço</h2>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Pais" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Estado" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Cidade" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Bairro" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Rua" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="cep" placeholder="CEP" required>
                    </div>
                </div>

                <div class="form-group col-md-6 tab-pane fade border p-5 rounded" id="conta" role="tab">
                    <h2>Conta</h2>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Usuario" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Senha" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Confirmar Senha" required>
                    </div>

                    <div class="form-group col-md-12">
                        <a href="#">Termos de aceitação</a>
                        <br>
                        <input type="checkbox" class="form-check-input" id="termosAcaitacao1" required>
                        <label class="form-check-label" for="termosAcaitacao1">Concordo com os termos</label>
                        <br>
                    </div>
                    <button type="submit" class="btn btn-success mt-2 col-3">Cadastrar</button>
                </div>
            </form>

        </section>
    </div>

    <div id="pessoaJuridica">
        <hr>
        <section style="width: 1000px">
            <h2>Pessoa Juridica</h2>
            <div class="input_img">
                <div class="col-sm-12 pt-2 pb-2 form-group inputDnD">
                    <label class="sr-only" for="inputFile"></label>
                    <input type="file" class="form-control-file text-danger font-weight-bold" id="inputFile"
                        accept="image/*" onchange="readUrl(this)" data-title="Arraste e solte">
                </div>
            </div>

            <nav>
                <div class="nav nav-pills mb-3 d-flex justify-content-center mt-5" id="nav-tab2" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#dadosPessoais2" role="tab">Dados
                        Pessoais</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#endereco2" role="tab">Endereço</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#conta2" role="tab">Conta</a>
                </div>
            </nav>

            <form class=" row tab-content bg-white text-center d-flex justify-content-center"
                id="myTabContent">
                <div class="was-validated form-group col-md-6 tab-pane fade show active border p-5 rounded" id="dadosPessoais2"
                    role="tab">
                    <h2>Dados pessoais</h2>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nome" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Sobrenome" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="CNPJ" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="tel" class="form-control" placeholder="Telefone Fixo">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Celular">
                    </div>
                </div>

                <div class="was-validated form-group col-md-6 tab-pane fade border p-5 rounded" id="endereco2" role="tab">
                    <h2>Endereço</h2>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Pais" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Estado" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Cidade" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Bairro" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Rua" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="CEP" required>
                    </div>
                </div>

                <div class="was-validated form-group col-md-6 tab-pane fade border p-5 rounded" id="conta2" role="tab">
                    <h2>Conta</h2>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Usuario" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Senha" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Confirmar Senha" required>
                    </div>

                    <div class="form-group col-md-12">
                        <a href="#">Termos de aceitação</a>
                        <br>
                        <input type="checkbox" class="form-check-input" id="termosAcaitacao" required>
                        <label class="form-check-label" for="termosAcaitacao">Concordo com os termos</label>
                        <br>
                        <button type="submit" class="btn btn-success mt-2">Cadastrar</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
