<section class="container">
    <div id="detalhes_container" *ngIf="produto">
        <div class="row">
            <div class="col-md-6">
                <img id="detalhes_img" src="assets/{{produto.imagem}}">
            </div>
            <div class="col-md-6" id="detalhes_preco">
                <h3>{{produto.nome}}</h3>
                <br>
                <h4 class="detalhes_total">{{ produto.valor | currency:'BRL':true}} </h4>
                <br>
                <div class="detalhes_button">
                    <a href="tela_carrinho.html">
                        <button type="button"><i class="fas fa-cart-arrow-down"></i> Enviar pro Carrinho</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="detalhes_info">
            <h1>DESCRIÇÃO DO PRODUTO</h1>
            <p>{{produto.descricao}} </p>
            
        </div>
    </div>
</section>