<section>
    <div id="principal">
        <div class="row d-flex d-flex justify-content-center">
            <div *ngFor="let produto of produtos" class="card text-center m-3" style="width: 14rem">
                <img src="assets/{{ produto.imagem }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ produto.nome }}</h5>
                    <p>R$ {{ produto.valor }}</p>
                    <p class="card-text text-left text-truncate" title="{{ produto.descricao }}">{{ produto.descricao }}</p>
                    <a href="#" class="btn btn-primary">Ver Mais Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</section>