/*---Header---*/

#logo {
    width: 75px;
}

.form-inline.my-2.my-md-0 .form-control {
    height: 0% !important;
    background: white;
    border: 2px solid;
    border-radius: 25px;
}

.fa-shopping-cart {
    font-size: 30px;
}

.fa-shopping-cart:hover {
    color: #484848
}

.reverter {
    display: flex;
    flex-direction: row-reverse;
}

/*---conteudo---*/

#conteudo {
    background-size: cover;
    background-image: url(src/assets/Black-and-Orange-Wallpaper-Full-HD.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Numans', sans-serif;
}

/*Footer*/

.footer {
    clear: both;
    background-color: #484848;
    padding: 75px 0;
}

.logo {
    margin: auto;
    display: block;
    width: 150px;
}

h3 {
    color: #f8b003;
}

.imgSocial {
    height: 50px;
    margin-top: 20px;
}

div.imgSocial img {
    width: 50px;
    position: relative;
    float: right;
    margin-right: 8.3px;
    margin-left: 8.3px;
}

.imgSocial .imgPagamento img {
    width: 50px;
    float: left;
}

.imgPagamento img {
    width: 50px;
}
/*Section Principal*/

#principal {
    position: relative;
  }
  
  #principal div {
    border-radius: 10px;
    position: relative;
  }
  
  #principal .img-produto {
    border: 1px solid;
    transition: 500ms;
    height: 100%;
    background-color: white;
  }
  
  #principal img {
    width: 100%;
    position: relative;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 210px;
  }
  
  #principal h3 {
    color: red;
    padding: 0 10px;
  }
  
  #principal p {
    color: black;
    font-size: 15px;
    padding: 0 10px;
  }
  
  #principal a:hover {
    text-decoration: none;
  }
  
  #principal .img-produto button:hover {
    background: #ff0000;
    color: white;
  }
  
  #principal .img-produto:hover img {
    opacity: 0.7;
    transition: 300ms;
  }
