/*---Header---*/

#logo {
    width: 75px;
}

.form-inline.my-2.my-md-0 .form-control {
    height: 0% !important;
    background: white;
    border: 2px solid;
    border-radius: 25px;
}

.fa-shopping-cart {
    font-size: 30px;
}

.fa-shopping-cart:hover {
    color: #484848
}

.reverter {
    display: flex;
    flex-direction: row-reverse;
}

/*---conteudo---*/

#conteudo {
    background-size: cover;
    background-image: url(src/assets/Black-and-Orange-Wallpaper-Full-HD.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Numans', sans-serif;
}

/*Footer*/

.footer {
    clear: both;
    background-color: #484848;
    padding: 75px 0;
}

.logo {
    margin: auto;
    display: block;
    width: 150px;
}

h3 {
    color: #f8b003;
}

.imgSocial {
    height: 50px;
    margin-top: 20px;
}

div.imgSocial img {
    width: 50px;
    position: relative;
    float: right;
    margin-right: 8.3px;
    margin-left: 8.3px;
}

.imgSocial .imgPagamento img {
    width: 50px;
    float: left;
}

.imgPagamento img {
    width: 50px;
}
