<section>
    <div id="principal">
        <div class="row">
            <div class="col-md-3 mt-4 mb-4">
                <div class="img-produto">
                    <a href="detalhes_produto.html">
                        <img src="assets/monitor.jpg">
                        <h3>R$400.00</h3>
                        <p>Melhor munitor do mundo 8k ultra HD, mais de 1bilhao de cores</p>
                        <button>Ver Mais Detalhes</button>
                    </a>
                </div>
            </div>
            <div class="col-md-3 mt-4 mb-4">
                <div class="img-produto">
                    <a href="detalhes_produto.html">
                        <img src="assets/mouse.jpg">
                        <h3>R$60.00</h3>
                        <p>Mouse Gamer RGB com 5000dpi e durabilidade de 10 milhoes de cliques</p>
                        <button>Ver Mais Detalhes</button>
                    </a>
                </div>
            </div>
            <div class="col-md-3 mt-4 mb-4">
                <div class="img-produto">
                    <a href="detalhes_produto.html">
                        <img src="assets/teclado.jpg">
                        <h3>R$300.00</h3>
                        <p>Teclado Mecanico com RGB, Melhor preco do Brasil</p>
                        <button>Ver Mais Detalhes</button>
                    </a>
                </div>
            </div>
            <div class="col-md-3 mt-4 mb-4">
                <div class="img-produto">
                    <a href="detalhes_produto.html">
                        <img src="assets/gabinete-gamer-c3-tech-mt-g1000bk-preto.jpg">
                        <h3>R$400.00</h3>
                        <p>Gabinete Transparente com cooler RGB Hiper Ventilacao</p>
                        <button>Ver Mais Detalhes</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mt-4 mb-4">
                <div class="img-produto">
                    <a href="detalhes_produto.html">
                        <img src="assets/monitor.jpg">
                        <h3>R$400.00</h3>
                        <p>Melhor munitor do mundo 8k ultra HD, mais de 1bilhao de cores</p>
                        <button>Ver Mais Detalhes</button>
                    </a>
                </div>
            </div>
            <div class="col-md-3 mt-4 mb-4">
                <div class="img-produto">
                    <a href="detalhes_produto.html">
                        <img src="assets/mouse.jpg">
                        <h3>R$60.00</h3>
                        <p>Mouse Gamer RGB com 5000dpi e durabilidade de 10 milhoes de cliques</p>
                        <button>Ver Mais Detalhes</button>
                    </a>
                </div>
            </div>
            <div class="col-md-3 mt-4 mb-4">
                <div class="img-produto">
                    <a href="detalhes_produto.html">
                        <img src="assets/teclado.jpg">
                        <h3>R$300.00</h3>
                        <p>Teclado Mecanico com RGB, Melhor preco do Brasil</p>
                        <button>Ver Mais Detalhes</button>
                    </a>
                </div>
            </div>
            <div class="col-md-3 mt-4 mb-4">
                <div class="img-produto">
                    <a href="detalhes_produto.html">
                        <img src="assets/gabinete-gamer-c3-tech-mt-g1000bk-preto.jpg">
                        <h3>R$400.00</h3>
                        <p>Gabinete Transparente com cooler RGB Hiper Ventilacao</p>
                        <button>Ver Mais Detalhes</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>